.body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.main-container {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  @include desktop {
    height: 100vh;
  }
}
