.body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.main-container {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;

  @include desktop {
    height: auto;
    padding: 2rem 0;
  }
}
