@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.list-container {
  align-items: center;
  backdrop-filter: brightness(60%);
  border-radius: 10px;
  border: solid 1.2px $magenta ;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 5px 0;
  max-height: 1.4rem;

  @include tablet {
    max-height: 2rem;
  }

  @include desktop {
    margin: .3rem 0;
    max-height: 2.5rem;
  }

  &__pokemon-name {
    color: $white;
    font-size: $font-sm;
    margin-left: 1.5rem;
    text-transform: capitalize;
  }

  &__pokeball {
    margin-right: 1.5rem;
  }

  @include desktop {

    &__pokeball:hover {
      animation: rotation 2s infinite linear;
      height: auto;
    }
  }
}
