.pagination-button-container {

  @include tablet {
    margin-top: 1rem;
  }

  &__previous {
    border-radius: 3px;
    border: solid 1.2px $magenta ;
    padding: 8px 1rem;
  }

  &__next {
    border-radius: 3px;
    border: solid 1.2px $magenta ;
    margin-left: 1rem;
    padding: 8px 1rem;
  }
}

.back-button {
  border-radius: 3px;
  border: solid 1.2px $magenta ;
  margin-left: 1rem;
  padding: 8px 1rem;
}
